<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiKey</key>
	<string>aad1d378-8613-429b-b728-bb2550e453f3</string>
	<key>ApiSecret</key>
	<string>b49136b3-dbe5-4e7b-83d0-519bb251c23a</string>
	<key>SiteName</key>
	<string>lr-thompson</string>
</dict>
</plist>
